<%= bootstrap_form_with model: participation, builder: JsonFormBuilder, bootstrap: { layout: :vertical } do |form| %>
  <% if participation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(participation.errors.count, "error") %> prohibited this participation from being saved:</h2>
      <ul>
        <% participation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :event_id, value: @participation.event.id %>
  <%= form.fields_for :form_answers do |ff| %>
    <% @JSON.each do |name, schema| %>
      <%= ff.json_field name, schema: schema %>
    <% end %>
  <% end %>
  <%= form.primary "Nevezés" %>

<% end %>
