<% headers = get_table_headers(@event.event_type) %>
<table class="table">
  <thead>
  <tr>
    <th>Felhasználó</th>
    <% headers.each do |header| %>
      <th><%= header[:name] %></th>
    <% end %>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <% @participations.each do |participation| %>
      <tr>
        <td><%= link_to participation.user.name ? participation.user.name : participation.user.email, participation.user %></td>
        <% headers.each do |header| %>
          <td>
            <%= participation.form_data[header[:key]] %>
          </td>
        <% end %>
        <td>
          <div class="btn-group-vertical" role="group" aria-label="Műveletek">
            <%= link_to participation, class: "btn btn-outline-primary btn-sm" do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
              </svg>
            <% end %>
            <%= link_to edit_participation_path(participation), class: "btn btn-outline-primary btn-sm" do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
              </svg>
            <% end %>
            <%= link_to participation, method: :delete, data: { confirm: 'Biztosan törlöd?' }, class: "btn btn-outline-danger btn-sm" do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
              </svg>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
