<p class="fs-4 mt-5">
  <strong>Név:</strong>
  <%= @participation.user.name %>
</p>

<p class="fs-4">
  <strong>Esemény:</strong>
  <%= @participation.event.name %>
</p>

<hr />

<p>
  <strong>Ürlap válaszok:</strong>
  <%= react_component("JsonFormPreview",
                      { schema:    @participation.event.event_type.schema,
                        uischema:  @participation.event.event_type.uischema,
                        form_data: @participation.form_data.to_json },
                      { prerender: true }) %>
</p>

<div class="d-flex justify-content-between my-3">
  <%= link_to 'Vissza', event_path(@participation.event), class: "btn btn-outline-primary" %>
  <%= link_to 'Módosítás', edit_participation_path(@participation), class: "btn btn-primary" %>
</div>
