<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @participation.user_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @participation.event_id %>
</p>

<p>
  <strong>JSON:</strong>
  <%= @participation.form_answers %>
</p>

<%= link_to 'Back', participations_path %>
