<p class="fs-5 mt-4 mb-2">
  <strong>Név:</strong>
  <%= @user.name %>
</p>

<p class="fs-5 my-2">
  <strong>E-mail:</strong>
  <%= @user.email %>
</p>

<p class="fs-5 my-2">
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p class="fs-5 my-2">
  <strong>Provider:</strong>
  <%= @user.provider %>
</p>

<div class="d-flex justify-content-between my-5">
  <%= link_to 'Vissza', users_path, class: "btn btn-outline-primary" %>
  <%= link_to 'Módosítás', edit_user_path(@user), class: "btn btn-primary" %>
</div>
