<%= form_with(model: rent, local: true) do |form| %>
  <%= render 'layouts/errors', errors: rent.errors %>

  <div class="mb-2 align-items-center">
    <%= form.label :start_date, class: "form-label" %>
    <div class="form-control">
      <%= form.datetime_select :start_date, {}, class: "" %>
    </div>
  </div>

  <div class="mb-2 align-items-center">
    <%= form.label :end_date, class: "form-label" %>
    <div class="form-control">
      <%= form.datetime_select :end_date, {}, class: "" %>
    </div>
  </div>

  <div class="mb-2">
    <%= form.label :order, class: "form-label" %>
    <%= form.text_area :order, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :comment, class: "form-label" %>
    <%= form.text_area :comment, class: "form-control" %>
  </div>

  <% if admin_signed_in?%>
    <div class="mb-5">
      <%= form.label :status, class: "form-label" %>
      <%= form.select :status, Rent.statuses.map {|k,v| [t(k), k]}, class: "form-select"
      %>
    </div>
  <% end %>

  <div class="my-3 d-flex justify-content-between">
    <%= link_to "Vissza", back_path, class: "btn btn-outline-primary" %>
    <%= form.submit  class: "btn btn-primary" %>
  </div>

<% end %>
