<p>
  <strong>Bérlő:</strong>
  <%= @rent.user.name %>
</p>

<p>
  <strong>Bérlő e-mail címe:</strong>
  <%= @rent.user.email %>
</p>

<p>
  <strong>Bérlési időszak kezdete:</strong>
  <%= l @rent.start_date %>
</p>

<p>
  <strong>Bérlési időszak vége:</strong>
  <%= l @rent.end_date %>
</p>

<p>
  <strong>Igénylet felszerelés(ek):</strong>
  <%= @rent.order %>
</p>

<p>
  <strong>Megjegyzés:</strong>
  <%= @rent.comment %>
</p>

<p>
  <strong>Bérlés státusza: </strong>
  <%= @rent.status %>
</p>


<div class="my-4 d-flex justify-content-between">
  <%= link_to 'Vissza', items_path, class: "btn btn-outline-primary" %>
  <% if admin_signed_in? %>
    <%= link_to 'Módosítás', edit_rent_path(@rent), class: "btn btn-primary" %>
  <% end %>
</div>