<%
  classes = { pending: "text-secondary", accepted: "text-primary", rented: "text-info", closed: "text-danger" }
  status_class = classes[@rent.status.to_sym]
%>

<h1>Bérlés</h1>

<p>
  <strong>Bérlő:</strong>
  <%= @rent.user.name %>
</p>

<p>
  <strong>Bérlő e-mail címe:</strong>
  <%= @rent.user.email %>
</p>

<p>
  <strong>Bérlési időszak kezdete:</strong>
  <%= l @rent.start_date %>
</p>

<p>
  <strong>Bérlési időszak vége:</strong>
  <%= l @rent.end_date %>
</p>

<p>
  <strong>Igénylet felszerelés(ek):</strong>
  <%= @rent.order %>
</p>

<p>
  <strong>Megjegyzés:</strong>
  <%= @rent.comment %>
</p>

<p>
  <strong>Bérlés státusza: </strong>
  <span class="<%= status_class %>"><%= t @rent.status %></span>
</p>


<div class="my-4 d-flex justify-content-between">
  <% if admin_signed_in? %>
    <%= link_to 'Vissza', rents_path, class: "btn btn-outline-primary" %>
    <%= link_to 'Módosítás', edit_rent_path(@rent), class: "btn btn-primary" %>
  <% else %>
    <%= link_to 'Vissza', items_path, class: "btn btn-outline-primary" %>
  <% end %>
</div>