<%= form_with(model: event, local: true) do |form| %>
  <%= render 'layouts/errors', errors: event.errors %>

  <div class="mb-2">
    <%= form.label :name, "Esemény neve", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-2 align-items-center">
    <%= form.label :start, class: "form-label" %>
    <div class="form-control">
      <%= form.datetime_select :start, {}, class: "" %>
    </div>
  </div>

  <div class="mb-2 align-items-center">
    <%= form.label :end, class: "form-label" %>
    <div class="form-control">
      <%= form.datetime_select :end, {}, class: "" %>
    </div>
  </div>

  <div class="mb-5">
    <%= form.label :event_type_id, "Jelentkező űrlap", class: "form-label" %>
    <%= form.select :event_type_id,
      EventType.pluck(:name, :id),
      { include_blank: "Nincs jelentkezés!" },
      class: "form-select"
    %>
  </div>

  <div class="mb-2">
    <%= form.label :description, class: "form-label" %>
    <%= form.rich_text_area :description %>
  </div>

  <div class="button-collection mb-2">
    <div class="d-flex justify-content-between">
      <%= link_to 'Vissza', back_path, class: "btn btn-outline-primary" %>
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>

<% end %>
