<%# Header %>
<% content_for :header do %>
  <header class="mb-4 mt-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 text-center">
          <h1 class="fs-1">Galéria</h1>
          <p class="fs-4">Albumok eseményeinkről</p>
        </div>
      </div>
    </div>
  </header>
<% end %>

<%# Button for admins %>
<% if admin_signed_in? %>
<div class="d-flex justify-content-end mb-3">
  <%= link_to 'Új album', new_album_path, class: "btn btn-outline-primary" %>
</div>
<% end %>

<%# Content %>
<div class="album">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3">
    <% @albums.each do |album| %>
      <div class="col">
        <div class="card shadow-sm album-card">
          <%= link_to album do %>
            <%= image_tag album.thumbnail, class: "bd-placeholder-img card-img-top album-card-thumbnail" %>
          <% end %>
          <% if !album.date.nil? %>
            <div class="bg-primary text-white shadow fw-bold rounded album-card-date">
              <%= raw l album.date, format: :albumdate %>
            </div>
          <% end %>

          <%# Button for admins %>
          <% if admin_signed_in? %>
            <%= link_to album, 
              class: "btn btn-danger album-image-delete shadow", 
              method: :delete,
              data: { confirm: 'Valóban el szeretnéd távolítani a teljes albumot?' },
              title: "Teljes album törlése" do %>
              <svg xmlns="http://www.w3.org/2000/svg" height="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
              </svg>
            <% end %>
          <% end %>

          <div class="card-body">
            <%= link_to album, class: "card-title title" do %>
              <span class="fs-4"><%= album.title %></span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
