<h2 class="mt-4 mb-2">
  <%= @album.title %>
</h2>
<div class="my-3 d-flex flex-column flex-sm-row">
  <div class="flex-grow-1"><%= @album.short_desc %></div>
  <div class="fs-4 d-flex justify-content-end"><%= l @album.date %></div>
</div>

<% if admin_signed_in? %>
<div class="row my-5">
  <div class="col-6">
    <%= link_to albums_path, class: "btn btn-outline-primary" do %>
      <svg xmlns="http://www.w3.org/2000/svg" height="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
    <% end %>
  </div>
  <div class="col-6">
    <div class="btn-group float-end">
      <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" height="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
        </svg>
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#add-image-modal">
            Kép(ek) hozzáadása
          </button>
        </li>
        <li>
          <%= link_to "Tulajdonságok módosítása", edit_album_path(@album), class: "dropdown-item" %>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
          <%= link_to "Album törlése", @album, class: "text-danger dropdown-item",
            method: :delete, data: { confirm: "Biztosan törlöd az egész albumot?" } %>
        </li>
      </ul>
    </div>
  </div>
</div>
<% end %>

<div class="row" id="content">
  <% @album.images.each do |image| %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
      <div class="card p-1">
        <%= image_tag image, class: "bd-placeholder-img card-img-top clickable album-image" %>

        <%# Button for admins %>
        <% if admin_signed_in? %>
        <%= link_to delete_image_album_url(image_id: image.id), class: "btn btn-danger album-image-delete shadow", 
          method: :delete, data: { confirm: 'Valóban el szeretnéd távolítani a képet?' } do %>
          <svg xmlns="http://www.w3.org/2000/svg" height="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
          </svg>
        <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @album.images.empty? %>
    <div class="col-12 text-center my-5">
      <div class="fs-5 text-muted fst-italic">
        Üres album
      </div>
      <div class="fs-6 text-muted fst-italic">
        Adj hozzá képeket!
      </div>
    </div>
  <% end %>
</div>

<% content_for :javascripts do %>
  <% if admin_signed_in? %>
    <div class="modal fade" id="add-image-modal" tabindex="-1" aria-labelledby="modal-label" aria-hidden="true">
      <div class="modal-dialog">
        <%= form_with(url: add_image_album_path, method: :post) do |form| %>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-label">Adj hozzá kép(ek)et albumodhoz!</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <%= render 'layouts/errors', errors: @album.errors %>
              </div>
              
              <div class="mb-3">
                <%= form.label :images, class: "form-label" %>
                <%= form.file_field :images, multiple: true, accept: 'image/png, image/jpeg', class: "form-control" %>
                <div id="images-help" class="form-text">Válaszd ki a hozzáadandó képeket!</div>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Bezár</button>
              <%= form.submit "Feltöltés", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= render 'pswp' %>

  <script>
    images = <%= @album.images.map{
      |i| { src: url_for(i), w: i.metadata["width"], h: i.metadata["height"] }
      }.to_json.html_safe %>
  </script>
  <%= javascript_pack_tag 'album', 'data-turbolinks-track': 'reload' %>
<% end %>
