<%= form_with(model: event_type, local: true, class: "row justify-content-center") do |form| %>
  <div class="col-12 col-md-8 mb-2">
    <%= render 'layouts/errors', errors: event_type.errors %>
  </div>

  <div class="col-12 col-md-8 mb-5">
    <div class="input-group">
      <%= form.label :name, class: "input-group-text" %>
      <%= form.text_field :name, class: "form-control", required: true %>
    </div>
  </div>
  
  <div class="col-12 mb-5">
    <%= react_component("JsonFormBuilder", { schema: @event_type.schema, uischema: @event_type.uischema, token: form_authenticity_token }) %>
  </div>

  <div class="col-12 col-md-8 mt-4">
    <div class="button-collection">
      <div class="d-flex justify-content-between">
        <%= link_to 'Vissza', event_types_path, class: "btn btn-primary" %>
        <%= form.submit class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
