<p id="notice"><%= notice %></p>



<div class="row">
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-header">
        Űrlap előnézet
      </div>
      <div class="card-body">
        <%= react_component("JsonFormPreview", { schema: @event_type.schema, uischema: @event_type.uischema }, { prerender: true }) %>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_event_type_path(@event_type) %> |
<%= link_to 'Másolás', copy_event_type_path(@event_type), method: :post %> |
<%= link_to 'Törlés', @event_type, method: :delete, data: { confirm: 'Biztosan törlöd?' } %> |
<%= link_to 'Back', event_types_path %>
