<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-12 mb-2">
    <div class="input-group-prepend">
    <%= form.label :title, class:"input-group-text" %>

    </div>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="input-group mb-12 mb-2">
    <div class="input-group-prepend">
    <%= form.label :short_description, class:"input-group-text" %>

    </div>
    <%= form.text_field :short_description, class:"form-control" %>
  </div>

   <div class="field">
    <%= form.rich_text_area :formatted_document %>
  </div>

  <div class="button-collection mt-2">
    <div class="d-flex justify-content-center ">
      <%= form.submit class: "btn btn-success" %>
    </div>
  </div>
<% end %>
