<%# Javascript import for handling overlay attributes %>
<% content_for :javascripts do %>
  <%= javascript_pack_tag 'events', 'data-turbolinks-track': 'reload' %>
<% end %>

<%# Header with navbar overlay %>
<% content_for :header do %>
  <header class="overlay mb-4" style="<%= "background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('" + image_path('home-bg.jpg') + "')" %>">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 text-center">
          <h1 class="fs-1">Hírek</h1>
          <p class="fs-4">Játékainkról és körünkről</p>
        </div>
      </div>
    </div>
  </header>
<% end %>

<%# Button for admins %>
<% if admin_signed_in? %>
<div class="row justify-content-center mb-4">
  <div class="col-lg-8 col-md-10 col-12">
    <div class="btn-group float-end">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Új...
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><%= link_to 'Poszt', new_post_path, class: "dropdown-item" %></li>
        <li><%= link_to 'Esemény', new_event_path, class: "dropdown-item" %></li>
      </ul>
    </div>
  </div>
</div>
<% end %>

<%# Post cards %>
<div class="row justify-content-center mb-3">
  <div class="col-lg-8 col-md-10 col-12">
    <% @posts.each do |post| %>
      <%= link_to post, class: "card clickable mb-3 bg-transparent border-0" do %>
        <div class="card-body p-0 py-2 clearfix">
          <% if post.image.attached? %>
            <%= image_tag post.image, class: "thumbnail float-end" %>
          <% else %>
            <%= image_tag image_path('default-post-thumbnail.jpg'), class: "thumbnail float-end" %>
          <% end %>
          <div class="card-title">
            <span class="fs-4 title">
              <%= post.title %>
            </span>
          </div>
          <p class="card-text"><%= post.short_description %></p>
          <p class="card-text"><small class="text-muted">Közzétéve <%= l post.created_at %></small></p>
        </div>
      <% end %>
      <hr>
    <% end %>
  </div>
</div>

<%# Pagination %>
<div class="row justify-content-center">
  <div class="col-auto">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
