<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @post.short_description %>
</p>

<p>
  <strong>Static:</strong>
  <%= @post.static_id %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
