<nav class="navbar navbar-expand-md navbar-dark bg-secondary" id="mainNav">
  <div class="container">
    <%= link_to "", class: "navbar-brand" do %>
      <%#= image_tag "eventhub-icon.svg", size: "22", class: "d-inline-block mr-2" %>
      AirsoftSCH
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to 'Hírek', "", class: current_controller?('events')? 'nav-link active' : 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Naptár', "", class: current_controller?('users')? 'nav-link active' : 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Felszereléseink', "", class: current_controller?('users')? 'nav-link active' : 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Galéria', "", class: current_controller?('users')? 'nav-link active' : 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Rólunk', "", class: current_controller?('users')? 'nav-link active' : 'nav-link' %>
        </li>
      </ul>
      <ul class="navbar-nav me-right">
        <% if true %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gipsz Jakab
            </a>
            <ul aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-end">
              <li>
                <%= link_to 'Kijelentkezés', "logout_path", class: 'dropdown-item' %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'AuthSCH belépés', "auth_path", class: current_controller?('sessions')? 'nav-link active' : 'nav-link', id: 'login' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
