<!DOCTYPE html>
<html>
  <head>
    <title>Airsoft</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <%#= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
    <p><%= current_user.name %></p><p><%= link_to "Kijelentkezés", destroy_user_session_path, method: :delete %> </p>
    <% else%>
      <%= link_to "Bejelnetkezés", new_user_session_path %>
    <%end %>
    <%= yield %>
  </body>
</html>
